<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>店铺信息</title>
    <script src="//cdn.52shangou.com/customer-service/call-center/0.2.0/build/libs/react-15.3.2.js"></script>
    <script src="//cdn.52shangou.com/customer-service/call-center/0.2.0/build/libs/react-dom-15.3.2.js"></script>
    <script src="//api.map.baidu.com/api?v=2.0&ak=tt0xfZPyCmOUlCftp0nwENfnpG3TynjT"></script>
</head>
<body>
<div id="root"></div>
<script>window.WMT = {userInfo: {mobile: 12312312321}, shopInfo: {id: 1007586}}</script>
<!--<script>window.WMT = {userInfo: {mobile: 18268881111}, shopInfo: {id: 1007576}}</script>-->
</body>
</html>
